# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Results and outputs
results/

# IDE/Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db