# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Results and outputs
results/

# IDE/Editor specific
.vscode/
.idea/

# Node.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db